.optionsmenu {
    position: relative;
    width: 150px;
    z-index: 10000;
    background: white;
    padding: 2px;
    margin: 0;
    cursor: default;
    overflow: visible;
    left: -100px;
    border: 2px solid black;
}

.optionsmenuitem {
    margin: 2px;
    color: black;
    font-size: 0.5em;

}

    .optionsmenuitem:hover {
        background: #d6d5d5;
    }