.menu{
	position: absolute;
	width: 200px;
	z-index: 10000;

	background: white;
	border: 2px solid black;
	padding: 2px;
	margin: 0;

	cursor: default;
}

.menuitem{
	margin: 2px;
}

.menuitem:hover{
	background: #d6d5d5;
}

.subMenu{
	position: absolute;
	background: white;
	border: 2px solid black;
	padding: 2px;
	margin: 0;
	width: 400px;
	height: 100px;
}