.App{
  margin: 0;
  width: 100%;
  height: 100%;
  background: black;
}

h1{
  color: white;
}

.note{
  background: yellow;
  border: 2px solid gray;
  border-radius: 5px;
  display: table;
  position: absolute;

  font-family: arial, helvetica;
}

.deleteButton{
  float: right;
  margin: 5px;
}

.noteHead{
  background: yellow;
  border-radius: 5px 5px 0px 0px;
 height: 40px;
 margin: 0;
 padding: 0;
}

.noteBody{
  margin: 0;
  padding: 0;
}

.noteTitle{
  width: 75%;
  height: 100%;
  border: none;
  outline: none;
  box-shadow: none;

  padding: 5px;

  font-size: 1.5em;
}

.newButton{
  float: left;
  margin: 5px;
}

input, textarea{ 
  box-sizing: border-box;
  resize: none;
}

.orange{
  background: orange;
}

.yellow{
  background: yellow;
}

.noteContent{
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 5px;
  border: none;
  outline: none;
  box-shadow: none;
  margin: auto;
  background-color: yellow;

  border-radius: 5px;
}